<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Plug-and-Play Tutoring  
          Instant set up of a community service tutoring program at any college campus. Tutoring programs require a level of technical infrastructure, in particular:
        <p>
          A mechanism for enrolling students
        </p>
        <p>A mechanism for undergrads/grads to apply to be tutors</p>
<p>A mechanism to match tutors and students, once enrolled and admitted</p>
<p>A calendar to track when tutoring sessions will occur </p>
      </div>
      <div class="col-lg-4">
        <p>A good technical infrastructure would also include certain ‘luxuries’, including:
            Automated reminder emails to tutors and tutees based on the calendar
        </p>
        <p>A mechanism to collect basic analytics: most in-demand subjects, times, etc.
        </p>
        <p>A mechanism to collect feedback
        </p>
        <p> A mechanism to re-match tutors and tutees, on a semester to semester basis, based on said feedback
        </p>
        </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
