<!-- Student Grid Section -->
<section id="students">
  <div class="container student-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Students</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="student-flex-row">
      {% for student in site.posts %}
      <div class="student-flex-item student-item">
        <a href="#studentModal-{{ student.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <!-- Placeholder box instead of image -->
          <div class="placeholder-box" style="background-color: #000;">>
            <p>No image available</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script>
  // Function to generate a random color in hexadecimal format
  function generateRandomColor() {
    return '#' + Math.floor(Math.random() * 16777215).toString(16);
  }

  // Get all placeholder boxes and set their background color to a random color
  const placeholderBoxes = document.querySelectorAll('.placeholder-box');
  placeholderBoxes.forEach(function(box) {
    box.style.backgroundColor = generateRandomColor();
  });
</script>
